<launch>
    <!-- 添加点云坐标系到kinetic连杆坐标系的变换-->    
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_publisher" args="0 0 0 -1.57 0 -1.57 /support /support_depth" />

    <!-- 启动 rviz 节点 -->
    <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find wheelchair1)/config/wheelchair.rviz" /> -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find wheelchair1)/config/fake_wheelchair.rviz" />
    <!-- <node pkg="rviz" type="rviz" name="rviz" /> -->
    
    <!-- 启动机器人状态和关节状态发布节点 -->
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" />

    <!-- 启动图形化的控制关节运动节点 -->
    <!-- <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui" output="screen" /> -->

    <!-- arbotix 控制节点 -->
    <!-- <node pkg="arbotix_python" type="arbotix_driver" name="arbotix" output="screen">
        <rosparam file="$(find wheelchair1)/config/control.yaml" command="load" />
        <param name="sim" value="true" /> -->
    <!-- </node> -->
</launch>