<?xml version="1.0" encoding="utf-8"?>
<robot name="laser" xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:property name="laser_m" value="0.1" />
    <xacro:macro name="rplidar" params="prefix">
        <!-- Create laser reference frame -->
        <link name="${prefix}_link">
            <visual>
                <origin xyz=" 0 0 0 " rpy="0 0 0" />
                <geometry>
                    <cylinder length="0.05" radius="0.05"/>
                </geometry>
                <material name="black"/>
            </visual>

            <collision>
                <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
                <geometry>
                    <cylinder length="0.05" radius="0.05"/>
                </geometry>
            </collision>
            <xacro:cylinder_inertial_matrix m="${laser_m}" r="0.05" h="0.05" />
        </link>
        <gazebo reference="${prefix}_link">
            <material>Gazebo/Black</material>
        </gazebo>

        <gazebo reference="${prefix}_link">
            <sensor type="ray" name="rplidar_sensor">
                <pose>0 0 0 0 0 0</pose>
                <visualize>true</visualize>
                <update_rate>40</update_rate>
                <ray>
                    <scan>
                        <horizontal>
                            <samples>720</samples>
                            <resolution>1</resolution> <!-- 分辨率 数值越低计算压力越大，精度越高。每几次测距计算一次-->
                            <min_angle>-3.14</min_angle>
                            <max_angle>3.14</max_angle> <!-- 以雷达中线为基准 向右转3个弧度为最小，向左转3个弧度为最大-->
                        </horizontal>
                    </scan>
                    <range>
                        <min>0.10</min>
                        <max>5.0</max>
                        <resolution>0.015</resolution> <!-- 范围精度小数点后几位-->
                    </range>
                    <!-- <noise>
                        <type>gaussian</type> 
                        <mean>0.0</mean>
                        <stddev>0.01<stddev>
                    </noise> -->
                    <noise>
                    <type>gaussian</type> <!-- -->
                    <mean>0.0</mean>
                    <stddev>0.01</stddev>
                    </noise>
                </ray>
                <plugin name="gazebo_ros_rplidar_controller" filename="libgazebo_ros_laser.so">
                    <topicName>/scan</topicName>
                    <frameName>${prefix}_link</frameName>
                </plugin>
            </sensor>
        </gazebo>
    </xacro:macro>
</robot>
